/* This is the project stylesheet */

:root {
  /* Colors */
  --dark-slate-gray: rgba(45, 45, 45, 1);
  --dark-slate-gray-2: rgba(63, 63, 63, 1);
  --dark-slate-gray-3: rgba(49, 49, 49, 1);
  --dark-slate-gray-4: rgba(63, 66, 63, 1);
  --dark-slate-gray-5: rgba(40, 40, 40, 1);
  --gainsboro: rgba(216, 216, 216, 1);
  --medium-sea-green: rgba(80, 221, 94, 1);
  --olive-drab: rgba(114, 145, 63, 1);
  --sandy-brown: rgba(255, 179, 65, 1);
  --transparent-olive-drab: rgba(114, 145, 63, 0.2);
  --transparent-sandy-brown: rgba(255, 179, 65, 0.12);
  --transparent-sandy-brown-2: rgba(255, 179, 65, 0.17);
  --transparent-white: rgba(255, 255, 255, 0.81);
  --white: rgba(255, 255, 255, 1);

  /* Typographies */
  /* inter-128-bold */
  --inter-128-bold-family: "Inter";
  --inter-128-bold-size: 128px;
  --inter-128-bold-weight: 700;
  --inter-128-bold-line-height: normal;

  /* inter-14-regular */
  --inter-14-regular-family: "Inter";
  --inter-14-regular-size: 14px;
  --inter-14-regular-weight: 400;
  --inter-14-regular-line-height: normal;

  /* inter-15-medium */
  --inter-15-medium-family: "Inter";
  --inter-15-medium-size: 15px;
  --inter-15-medium-weight: 500;
  --inter-15-medium-line-height: 25px;

  /* inter-15-regular */
  --inter-15-regular-family: "Inter";
  --inter-15-regular-size: 15px;
  --inter-15-regular-weight: 400;
  --inter-15-regular-line-height: normal;

  /* inter-16-light */
  --inter-16-light-family: "Inter";
  --inter-16-light-size: 16px;
  --inter-16-light-weight: 300;
  --inter-16-light-line-height: normal;

  /* inter-16-regular */
  --inter-16-regular-family: "Inter";
  --inter-16-regular-size: 16px;
  --inter-16-regular-weight: 400;
  --inter-16-regular-line-height: normal;

  /* inter-18-regular */
  --inter-18-regular-family: "Inter";
  --inter-18-regular-size: 18px;
  --inter-18-regular-weight: 400;
  --inter-18-regular-line-height: normal;

  /* inter-20-medium */
  --inter-20-medium-family: "Inter";
  --inter-20-medium-size: 20px;
  --inter-20-medium-weight: 500;
  --inter-20-medium-line-height: 34px;

  /* inter-20-medium-2 */
  --inter-20-medium-2-family: "Inter";
  --inter-20-medium-2-size: 20px;
  --inter-20-medium-2-weight: 500;
  --inter-20-medium-2-line-height: normal;

  /* inter-20-regular */
  --inter-20-regular-family: "Inter";
  --inter-20-regular-size: 20px;
  --inter-20-regular-weight: 400;
  --inter-20-regular-line-height: normal;

  /* inter-28-regular */
  --inter-28-regular-family: "Inter";
  --inter-28-regular-size: 28px;
  --inter-28-regular-weight: 400;
  --inter-28-regular-line-height: normal;

  /* inter-36-medium */
  --inter-36-medium-family: "Inter";
  --inter-36-medium-size: 36px;
  --inter-36-medium-weight: 500;
  --inter-36-medium-line-height: normal;

  /* inter-36-regular */
  --inter-36-regular-family: "Inter";
  --inter-36-regular-size: 36px;
  --inter-36-regular-weight: 400;
  --inter-36-regular-line-height: normal;

  /* inter-64-bold */
  --inter-64-bold-family: "Inter";
  --inter-64-bold-size: 64px;
  --inter-64-bold-weight: 700;
  --inter-64-bold-line-height: normal;
}
a{
  text-decoration: none;
}
.about-us-four {
  background-color: var(--white);
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}
.flex-wrapper-fourteen {
  background-size: 100% 100%;
  background-position: center;
  background-image: url("./fon.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  align-items: flex-start;
  height: 100%;
}
.wrapp-hedder{
  width: 100%;
}
.hedder {
  padding: 40px ;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
}
.bg-header{
  background-color: white;
  opacity: 80%;
}
.header-logo-1 {
  height: 7vh;
}
.menju {
  display: flex;
  align-items: center;
  height: 7vh;
  width: 80%;
  justify-content: space-around;
}
.home {
  color: var(--dark-slate-gray);
  display: flex;
  font-family: var(--inter-20-regular-family);
  font-size: var(--inter-20-regular-size);
  font-weight: var(--inter-20-regular-weight);
  line-height: var(--inter-20-regular-line-height);
}
.about-us {
  color: var(--dark-slate-gray);
  display: flex;
  font-family: var(--inter-20-regular-family);
  font-size: var(--inter-20-regular-size);
  font-weight: var(--inter-20-regular-weight);
  line-height: var(--inter-20-regular-line-height);
}
.product-services {
  color: var(--dark-slate-gray);
  display: flex;
  font-family: var(--inter-20-regular-family);
  font-size: var(--inter-20-regular-size);
  font-weight: var(--inter-20-regular-weight);
  line-height: var(--inter-20-regular-line-height);
}
.sustomers-testimonies {
  color: var(--dark-slate-gray);
  display: flex;
  font-family: var(--inter-20-regular-family);
  font-size: var(--inter-20-regular-size);
  font-weight: var(--inter-20-regular-weight);
  line-height: var(--inter-20-regular-line-height);
}
.social-media {
  color: var(--dark-slate-gray);
  display: flex;
  font-family: var(--inter-20-regular-family);
  font-size: var(--inter-20-regular-size);
  font-weight: var(--inter-20-regular-weight);
  line-height: var(--inter-20-regular-line-height);
}
.jazyk {
  padding: 0 0 1.38px;
  height: 46.23px;
  border: 1px solid #D8D8D8;
  border-radius: 30px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.en {
  color: var(--dark-slate-gray-2);
  display: flex;
  align-items:center;
  font-family: var(--inter-18-regular-family);
  font-size: var(--inter-18-regular-size);
  font-weight: var(--inter-18-regular-weight);
  line-height: var(--inter-18-regular-line-height);
}
.rectangle-2 {
  height: 45px;
  border-radius: 30px;
  border: 1px solid var(--medium-sea-green);
}
.ua {
  width: 30px;
  color: var(--dark-slate-gray-2);
  display: flex;
  align-items:center;
  font-family: var(--inter-18-regular-family);
  font-size: var(--inter-18-regular-size);
  font-weight: var(--inter-18-regular-weight);
  line-height: var(--inter-18-regular-line-height);
}
.flex-wrapper-one {
  display: flex;
  align-items: center;
  padding-left: 5px;
}
.ua-two {
  margin-top: 1.92px;
  margin-right: 9.91px;
}
.flex-wrapper-two {
  display: flex;
  align-items: center;
  padding: 0 5px;

}
.flex-wrapper-nine {
  margin: 0 auto;
  margin-top: 13vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
.rectangle-9 {
  height: 40vh;
}
.kontent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about-us-two {
  color: var(--dark-slate-gray-4);
  display: flex;
  margin-bottom: 20px;
  font-family: var(--inter-36-regular-family);
  font-size: var(--inter-36-regular-size);
  font-weight: var(--inter-36-regular-weight);
  line-height: var(--inter-36-regular-line-height);
}
.brandeme-is-a-multi-channel-marketing-ag {
  width: 130vh;
  color: var(--dark-slate-gray);
  display: flex;
  margin-left: 3px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}
.our-values-principles {
    text-align: center;
    margin-bottom: 3vh;
    color: var(--dark-slate-gray);
    font-family: var(--inter-36-medium-family);
    font-size: var(--inter-36-medium-size);
    font-weight: var(--inter-36-medium-weight);
    line-height: var(--inter-36-medium-line-height);
}
.our-values-principles-emphasis-1 {
  color: var(--sandy-brown);
  font-family: var(--inter-36-medium-family);
  font-size: var(--inter-36-medium-size);
  font-weight: var(--inter-36-medium-weight);
  line-height: var(--inter-36-medium-line-height);
}
.flex-wrapper-ten {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 35vh;
  margin-top: 2vh;
}
.wrapp-content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px;
  height: 100%;
  justify-content: center;
}
.num-1 {
  display: flex;
  align-items: flex-start;
  margin-right: 38px;
  margin-bottom: 5vh;
}
.flex-wrapper-three {
  background-color: var(--transparent-sandy-brown-2);
  margin-right: 24px;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shield-1 {
  width: 48px;
  height: 48px;
}
.relibility {
  height: 16px;
  width: 105px;
  color: var(--dark-slate-gray);
  display: flex;
  margin-bottom: 18px;
  font-family: var(--inter-20-medium-2-family);
  font-size: var(--inter-20-medium-2-size);
  font-weight: var(--inter-20-medium-2-weight);
  line-height: var(--inter-20-medium-2-line-height);
}
.we-guarantee-our-customers-quality-work {
  height: 63px;
  width: 230px;
  color: var(--dark-slate-gray);
  display: flex;
  font-family: var(--inter-16-light-family);
  font-size: var(--inter-16-light-size);
  font-weight: var(--inter-16-light-weight);
  line-height: var(--inter-16-light-line-height);
}
.flex-wrapper-four {
  background-color: var(--transparent-sandy-brown-2);
  margin-right: 24px;
  border-radius: 50%;
  padding: 21px 21px 21px 22px;
  display: flex;
  align-items: center;
}
.target-1 {
  width: 51px;
  height: 51px;
}
.strategy-efficiency {
  height: 16px;
  color: var(--dark-slate-gray);
  display: flex;
  margin-bottom: 18px;
  font-family: var(--inter-20-medium-2-family);
  font-size: var(--inter-20-medium-2-size);
  font-weight: var(--inter-20-medium-2-weight);
  line-height: var(--inter-20-medium-2-line-height);
}
.flex-wrapper-six {
  background-color: var(--transparent-sandy-brown-2);
  margin-right: 24px;
  border-radius: 50%;
  padding: 22px 23px 25px 25px;
  display: flex;
  align-items: flex-start;
}
.checklist-1 {
  width: 46px;
  height: 46px;
}
.customer-driven-results {
  height: 16px;
  width: 230px;
  color: var(--dark-slate-gray);
  display: flex;
  margin-bottom: 18px;
  font-family: var(--inter-20-medium-2-family);
  font-size: var(--inter-20-medium-2-size);
  font-weight: var(--inter-20-medium-2-weight);
  line-height: var(--inter-20-medium-2-line-height);
}
.flex-wrapper-eleven {
  display: flex;
  align-items: flex-start;
}
.flex-wrapper-five {
  background-color: var(--transparent-sandy-brown-2);
  margin-right: 24px;
  border-radius: 50%;
  padding: 23px 22px 22px 24px;
  display: flex;
  align-items: center;
}
.transparency {
  height: 16px;
  width: 139px;
  color: var(--dark-slate-gray);
  display: flex;
  margin-bottom: 18px;
  font-family: var(--inter-20-medium-2-family);
  font-size: var(--inter-20-medium-2-size);
  font-weight: var(--inter-20-medium-2-weight);
  line-height: var(--inter-20-medium-2-line-height);
}
.flex-wrapper-seven {
  background-color: var(--transparent-sandy-brown-2);
  margin-right: 24px;
  border-radius: 50%;
  padding: 24px 24px 23px;
  display: flex;
  align-items: center;
}
.technology {
  height: 16px;
  width: 144px;
  color: var(--dark-slate-gray);
  display: flex;
  margin-bottom: 18px;
  font-family: var(--inter-20-medium-2-family);
  font-size: var(--inter-20-medium-2-size);
  font-weight: var(--inter-20-medium-2-weight);
  line-height: var(--inter-20-medium-2-line-height);
}
.flex-wrapper-eight {
  background-color: var(--transparent-sandy-brown-2);
  margin-right: 24px;
  border-radius: 50%;
  padding: 4px 6px 7px;
  display: flex;
  align-items: flex-start;
}
.job-2-1 {
  width: 82px;
  height: 82px;
}
.professionalism {
  height: 16px;
  width: 162px;
  color: var(--dark-slate-gray);
  display: flex;
  margin-bottom: 18px;
  font-family: var(--inter-20-medium-2-family);
  font-size: var(--inter-20-medium-2-size);
  font-weight: var(--inter-20-medium-2-weight);
  line-height: var(--inter-20-medium-2-line-height);
}
/* futer */
/* futer */
.futer {
  background-color: var(--sandy-brown);
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.napolnenie {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.menju-two {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.header-logo-1-two{
  height: 7vh;
}
.home-two {
  color: var(--white);
  display: flex;
  font-family: var(--inter-14-regular-family);
  font-size: var(--inter-14-regular-size);
  font-weight: var(--inter-14-regular-weight);
  line-height: var(--inter-14-regular-line-height);
}
.about-us-three {
  color: var(--white);
  text-decoration: none;
  display: flex;
  font-family: var(--inter-14-regular-family);
  font-size: var(--inter-14-regular-size);
  font-weight: var(--inter-14-regular-weight);
  line-height: var(--inter-14-regular-line-height);
}
.product-services-two {
  color: var(--white);
  display: flex;
  font-family: var(--inter-14-regular-family);
  font-size: var(--inter-14-regular-size);
  font-weight: var(--inter-14-regular-weight);
  line-height: var(--inter-14-regular-line-height);
}
.customers-testimonies {
  color: var(--white);
  display: flex;
  font-family: var(--inter-14-regular-family);
  font-size: var(--inter-14-regular-size);
  font-weight: var(--inter-14-regular-weight);
  line-height: var(--inter-14-regular-line-height);
}
.social-media-two {
  color: var(--white);
  display: flex;
  font-family: var(--inter-14-regular-family);
  font-size: var(--inter-14-regular-size);
  font-weight: var(--inter-14-regular-weight);
  line-height: var(--inter-14-regular-line-height);
}